.class{
    background-color: yellow;
    border:  red;
    border-radius: 12px;
}
mark{
    background-color: yellow;
}
.class2
{
    text-align: center;
    background-color: aqua;
    border:solid 4px red;
    border-radius: 12px;
}

.class5
{
 color: green;  
}
.class3{
color: yellow;
}
.class4{
    color: red;
}
thead{
    color: black;
}
.class1{
    color: red;
}
td{
    border: 1 px solid white;
    background-color: purple;
}
.class56{
 background-color: red;

}
caption{
    background-color: yellow;
    color: black;
    height: 70%;
}


button{
    background-color: green;
}
table{
    text-align: center;

}
.class122{
    border: 1 px solid white;
    background-color: green;
}
h2{
    color: green;
}